.playboardcontainer{
    width: 100%;
}

.playboard{
    margin: 0 auto;
    width: 90vh;
}

.playcart{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: left;
    width: 150px;
    height: 150px;
    /* background-color: #add8e6; */
    border-radius: 20%;
    margin: 3px;
}
.playcart:hover{
    cursor: pointer;
}

.playcartword{
    line-height: 150px;
}