body{
    background-color: #121212;
}

#statscontainer{
    margin: 20px auto;
}
.stats{
    display: flex;

    float: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 40%;
    color: white;
}

#curplayer{
    margin-bottom: 0px;
    margin-right: 20px;
}

#gamecode{
    margin-left: 30px;
    margin-bottom: 0px;   
}

#remainingred{
    margin-bottom: 0px;
    color:white;
    background-color: #ff7675; 
    width: 35px; height: 35px; 
    text-align: center; 
    font-size: 22px; font-weight: bold; 
    border-radius: 8px; 
}

#remainingblue{
    margin-bottom: 0px;
    color:white; 
    background-color: #74b9ff;
    width: 35px; 
    height: 35px; 
    text-align: center; 
    font-size: 22px; 
    font-weight: bold; 
    border-radius: 8px;
}

/* 
.stats p{
    float: left;
    margin-right: 30px;
}

.stats input{
    color: wheat;
} */

.spymaster{
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: inline-block;
    color: white;
}
.spymaster p{
    float: left;
    margin-right: 7px;
}

.playboardcontainer{
    width: 100%;
}

#playboard{
    margin: 0 auto;
    width: 90vh;
}

.playcart{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: left;
    width: 150px;
    height: 150px;
    /* background-color: #add8e6; */
    border-radius: 20%;
    margin: 3px;
}
.playcart:hover{
    cursor: pointer;
    /* animation: playcartclick 1s; */
}


.playcartword{
    line-height: 150px;
}



.omgedraaid{
    background-color: #ecf0f1    !important;
    color: black;

    /* custom background image when tile is turned */

    /* background-image: url("tile3.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-color: #34495e   !important; */
}

/* 
@keyframes playcartclick{
    0%{
        border-radius: 20%;
        transform: rotate(0deg);
    }
    60%{
        border-radius: 50%;
        transform: rotate(180deg);
        background-color: whitesmoke;
    }
    100%{
        border-radius: 20%;
        transform: rotate(360deg);
    }
} */